/*--------------- Style --------------*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

#stage {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #867;
}

#image{
	width: 46px;
	height: 46px;
	position: absolute;
	background: url(img1.gif) center no-repeat;
}
