/*--------------- Style --------------*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

#stage {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #867;
}

#image {
	width: 46px;
	height: 46px;
	position: absolute;
	margin: 25% 0 0 50%;
	background: url(im1.gif) center no-repeat;
	cursor: pointer;
}
